
h1, p {
  text-align: center;
}

p {
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.contain {
  width: 100%;
}

.row {
  overflow: scroll;
  width: 100%;
}
  
.row__inner {
  transition: 450ms transform;
  font-size: 0;
  white-space: nowrap;
  margin: ((250px / (16/9)) / 2) 0;
  padding-bottom: 10px;
}

.tile {
  position: relative;
  display: inline-block;
  width: 100vw;
  max-width: 400px;
  height: 66vh;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
}
  
.tile__img {
  width: 100vw;
  max-width: 400px;
  height: 66vh;
  max-height: 500px;
}

.tile__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 10px;
  opacity: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  transition: 450ms opacity;
}

::-webkit-scrollbar {
	width: 0;
	background: transparent;
}
