.photo-view-container {
  text-align: center;
}

.photo-view-thumbnail {
  position: relative;
  display: inline-block;
  width: calc(100% - 20px);
  margin: 10px 0px;
  padding: 10px;
  padding-bottom: 40px;
  background-color: #efefef;
  max-width: 300px;
  max-height: 310px;
}

.photo-view-thumbnail img {
  width: 100%;
  height: 100%;
}

.photo-view-title {
  text-align: right;
  font-size: 18px;
  letter-spacing: 3px;
  margin-top: 5px;
  font-family: Blacksword;
}