<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="../image/favicon.ico"/>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/common-desktop.css">
  <link rel="stylesheet" href="../css/gallery.css">
  <link rel="stylesheet" href="../css/gallery-desktop.css">
  <script src="../js/gallery.js"></script>
  <title>Youngkwon Kim</title>
</head>
<body>
  <nav>
    <div class="profile-logo"></div>
    <ul>
      <a href="/index.html">
        <li>HOME</li>
      </a>
      <a href="../template/gallery.html">
        <li>GALLERY</li>
      </a>
      <li>SNS</li>
      <a href="mailto:jakealden97@gmail.com">
        <li>MAIL</li>
      </a>
    </ul>
  </nav>
  <div class="content">
    <div class="photo-view-container">
      <div class="photo-view-thumbnail">
        <img src="../image/gallery/last-Gangwon.jpeg">
        <div class="photo-view-title">Last-Gangwon</div>
      </div>
      <div class="photo-view-thumbnail">
        <img src="../image/gallery/daebudo02.JPG">
        <div class="photo-view-title">Wonder</div>
      </div>
      <div class="photo-view-thumbnail">
        <img src="../image/gallery/falling.jpeg">
        <div class="photo-view-title">Falling</div>
      </div>
      <div class="photo-view-thumbnail">
        <img src="../image/gallery/after-rain.jpeg">
        <div class="photo-view-title">After-Rain</div>
      </div>
      <div class="photo-view-thumbnail">
        <img src="../image/gallery/cafe-photo-contest.jpeg">
        <div class="photo-view-title">Cafe-Photo-Contest</div>
      </div>
      <div class="photo-view-thumbnail">
        <img src="../image/gallery/see-thru.jpeg">
        <div class="photo-view-title">See-thru</div>
      </div>
      <div class="photo-view-thumbnail">
        <img src="../image/gallery/bright.JPG">
        <div class="photo-view-title">Bright</div>
      </div>
      <div class="photo-view-thumbnail">
        <img src="../image/gallery/jecheon.jpeg">
        <div class="photo-view-title">Jecheon</div>
      </div>
      <div class="photo-view-thumbnail">
        <img src="../image/gallery/enlist.jpg">
        <div class="photo-view-title">Enlist</div>
      </div>
      <div class="photo-view-thumbnail">
        <img src="../image/gallery/friendship.JPG">
        <div class="photo-view-title">Friendship</div>
      </div>
      <div class="photo-view-thumbnail">
        <img src="../image/gallery/ufo.jpeg">
        <div class="photo-view-title">Puplish Sky</div>
      </div>
      <div class="photo-view-thumbnail">
        <img src="../image/gallery/discharge.jpg">
        <div class="photo-view-title">Discharge</div>
      </div>
      <div class="photo-view-thumbnail">
        <img src="../image/gallery/when-we-were-young.PNG">
        <div class="photo-view-title">When we were young</div>
      </div>
      <div class="photo-view-thumbnail">
        <img src="../image/gallery/dark.JPG">
        <div class="photo-view-title">Dark</div>
      </div>
      <div class="photo-view-thumbnail">
        <img src="../image/gallery/cafe-Bucheon.jpeg">
        <div class="photo-view-title">Space-Jak</div>
      </div>
      <div class="photo-view-thumbnail">
        <img src="../image/gallery/young-star.jpeg">
        <div class="photo-view-title">Young-Star</div>
      </div>
      <div class="photo-view-thumbnail">
        <img src="../image/gallery/kimpo.jpeg">
        <div class="photo-view-title">Kimpo drive</div>
      </div>
      <div class="photo-view-thumbnail">
        <img src="../image/gallery/LikeLion-6th.jpeg">
        <div class="photo-view-title">LL-SS</div>
      </div>
      <div class="photo-view-thumbnail">
        <img src="../image/gallery/jeju.JPG">
        <div class="photo-view-title">Jeju</div>
      </div>
      <div class="photo-view-thumbnail">
        <img src="../image/gallery/flight.jpeg">
        <div class="photo-view-title">Flight</div>
      </div>
      <div class="photo-view-thumbnail">
        <img src="../image/gallery/night-sea.jpeg">
        <div class="photo-view-title">Night Sea</div>
      </div>
      <div class="photo-view-thumbnail">
        <img src="../image/gallery/family.jpg">
        <div class="photo-view-title">Family</div>
      </div>
      <div class="photo-view-thumbnail">
        <img src="../image/gallery/refresh.JPG">
        <div class="photo-view-title">Refresh * Healing</div>
      </div>
      <div class="photo-view-thumbnail">
        <img src="../image/gallery/salmon.jpeg">
        <div class="photo-view-title">Salmon</div>
      </div>
      <div class="photo-view-thumbnail">
        <img src="../image/gallery/observatory.jpeg">
        <div class="photo-view-title">Observatory</div>
      </div>
      <div class="photo-view-thumbnail">
        <img src="../image/gallery/Inha.JPG">
        <div class="photo-view-title">At Inha</div>
      </div>
      <div class="photo-view-thumbnail">
        <img src="../image/gallery/domain.PNG">
        <div class="photo-view-title">Do Main</div>
      </div>
      <div class="photo-view-thumbnail">
        <img src="../image/gallery/red-impression.jpeg">
        <div class="photo-view-title">Red impression</div>
      </div>
      <div class="photo-view-thumbnail">
        <img src="../image/gallery/cafe-park.jpeg">
        <div class="photo-view-title">Cafe Park</div>
      </div>
      <div class="photo-view-thumbnail">
        <img src="../image/gallery/summer-of-love.jpeg">
        <div class="photo-view-title">Summer of love</div>
      </div>
      <div class="photo-view-thumbnail">
        <img src="../image/gallery/daesun.jpeg">
        <div class="photo-view-title">Cheers!</div>
      </div>
      <div class="photo-view-thumbnail">
        <img src="../image/gallery/lalaland.jpeg">
        <div class="photo-view-title">LaLaLand</div>
      </div>
      <div class="photo-view-thumbnail">
        <img src="../image/gallery/dragon-head.jpeg">
        <div class="photo-view-title">Dragon Shape Rock</div>
      </div>
      <div class="photo-view-thumbnail">
        <img src="../image/gallery/daebudo.JPG">
        <div class="photo-view-title">Daebudo</div>
      </div>
      <div class="photo-view-thumbnail">
        <img src="../image/gallery/graduation.jpg">
        <div class="photo-view-title">Graduation</div>
      </div>
      <div class="photo-view-thumbnail">
        <img src="../image/gallery/airforce.jpeg">
        <div class="photo-view-title">Airforce runner</div>
      </div>
      <div class="photo-view-thumbnail">
        <img src="../image/gallery/trip.jpeg">
        <div class="photo-view-title">Trip</div>
      </div>
      <div class="photo-view-thumbnail">
        <img src="../image/gallery/waytogo.jpeg">
        <div class="photo-view-title">Track</div>
      </div>
      <div class="photo-view-thumbnail">
        <img src="../image/gallery/onTheTop.jpeg">
        <div class="photo-view-title">V</div>
      </div>
      <div class="photo-view-thumbnail">
        <img src="../image/gallery/junction.jpeg">
        <div class="photo-view-title">Junction</div>
      </div>
    </div>
  </div>
</body>
<footer>
  <ul>
    <a target="_blank" href="https://github.com/youngkwon02">
      <li>
        <img src="../image/github.png">
      </li>
    </a>
    <a target="_blank" href="https://www.instagram.com/youngkwon_/">
      <li>
        <img src="../image/instagram.png">
      </li>
    </a>
    <a target="_blank" href="https://www.facebook.com/profile.php?id=100005914232074">
      <li>
        <img src="../image/facebook.png">
      </li>
    </a>
  </ul>
  <div class="copyright">
    <span>Copyright ⓒ 2021. Youngkwon. All rights reserved</span>
  </div>
</footer>
</html>