<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="../image/favicon.ico"/>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/ironman.css">
  <title>Iron Man</title>
</head>
<body>
  <script src="../js/three.min.js"></script>
  <script src="../js/OrbitControls.js"></script>
  <script src="../js/objloader.js"></script>
  <script src="../js/MTLLoader.js"></script>
  <script src="../js/ironman.js"></script>
  <a href="/index.html"><div class="cancel-btn"></div></a>
</body>
</html>