@media (min-width: 1000px) {
  body > div > div > div:nth-child(4n + 1) {
    margin-right: calc((100% - 4*324px) / 3);
  }

  body > div > div > div:nth-child(4n + 2) {
    margin-right: calc((100% - 4*324px) / 3);
  }

  body > div > div > div:nth-child(4n + 3) {
    margin-right: calc((100% - 4*324px) / 3);
  }
}
